@model FocusAcademy.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录页面</title>
    <script src=@Href("~/Scripts/jquery-1.8.2.min.js")></script>
    <script src=@Href("~/Scripts/jquery.validate.min.js")></script>
    <script src=@Href("~/Scripts/jquery.validate.unobtrusive.min.js")></script>
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {
            <label>用户名：</label>@Html.TextBoxFor(m => m.LoginId, new { @class = "", placeholder ="请输入用户名"}) 
            @Html.ValidationMessageFor(m=>m.LoginId) <br/>
            <label>密码：</label> @Html.TextBoxFor(m => m.Password, new { @class = "", placeholder = "请输入密码" })
            @Html.ValidationMessageFor(m=>m.Password) 
            @Html.ValidationSummary(true)<br />
            <input name="btnSubmit" type="submit" value="登录" />
            <input name="btnRegister" type="button" value="注册" />
            <br />
            <input type="checkbox" name="autoLogin" value="" /><span>下次自动登录</span>
            <a href="#">忘记密码？</a>
        }     
    </div>
</body>
</html>
