@using Friends.Web.Helpers
@model PagedList<Friends.Models.FriendViewModel>

<div class="friendList">
    @foreach (Friends.Models.FriendViewModel u in Model)
    {
    
        <dl>
            <dt>
                <img src="@Url.Content("~/images/headers/" + u.HeaderImage)" /><a href="#">@u.RealName</a>

            </dt>
            <dd>@if (!u.IsFriend)
                {
                <input type="button" value="加为好友" 
                    onclick='addFriend("@u.RealName","@Url.Action("AddFriendRelation", "Friend", new { friendId = u.UserId })")'/>
                }
                else
                {

                <span>已是好友</span>
                }</dd>
        </dl>
    
   
    }
</div>

@Html.Raw(Ajax.Pager(Model,"ajaxFriendSearchResult"))

<script type="text/javascript">
    $(function () {
        $("input[type=button]").button();
    })

    function addFriend(realName, url) {
        $("#AddFriendRelation").load(url);
        $("#AddFriendRelation").attr("title","请求"+ realName+ "为好友");
        $("#AddFriendRelation").dialog();
    }
</script>

<div id="AddFriendRelation" style="display: none" title="请求为好友">
</div>
