@{
    Layout = null;
}


@model Friends.Models.RegisterModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>注册</title>
    <link href=@Href("~/content/common.css") rel="stylesheet" type="text/css" />
    <script src="@Href("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Href("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Href("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body class="loginBg">

    <div id="register">
        <ul id="registerTop">
            <li class="first">
                <img src=@Href("~/images/bird-05.jpg") width="277" height="82" /></li>
            <li class="second">10秒钟注册账号，找到你的青鸟老师和同学</li>
            <li class="third">已有青鸟朋友网账号，<a href="@Url.Action("Login")">登录</a></li>
        </ul>
        <div class="regList">
            <p>用户注册</p>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <dl>
                    <dt>注册邮箱</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.Mail, new {@class="textInputBig" })
                        @Html.ValidationMessageFor(model => model.Mail)
                    </dd>
                </dl>
                <dl>
                    <dt>创建密码</dt>
                    <dd>
                        @Html.PasswordFor(m => m.Password, new {@class="textInputBig" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </dd>
                </dl>
                <dl>
                    <dt>真实姓名</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.RealName, new {@class="textInputBig" })
                        @Html.ValidationMessageFor(model => model.RealName)
                    </dd>
                </dl>
                <dl>
                    <dt>性别</dt>
                    <dd>
                        @Html.RadioButtonFor(m=>m.Gender,"男")
                       
                        男
                        @Html.RadioButtonFor(m=>m.Gender,"女")
                        女
                         @Html.ValidationMessageFor(model => model.Gender)
                    </dd>
                </dl>
                <dl>
                    <dt>生日</dt>
                    <dd>
                        @Html.DropDownListFor(m => m.Year, Friends.Models.FriendListItems.Years, "") 年 
                        @Html.DropDownListFor(m => m.Month, Friends.Models.FriendListItems.Months, "")月 
                        @Html.DropDownListFor(m => m.Day, Friends.Models.FriendListItems.Days, "") 日 

                         @Html.ValidationMessageFor(model => model.Year)
                        @Html.ValidationMessageFor(model => model.Month)
                        @Html.ValidationMessageFor(model => model.Day)
                    </dd>
                </dl>
                <dl>
                    <dt>我现在是</dt>
                    <dd>
                        @Html.DropDownList("Situation", Friends.Models.FriendListItems.Situations, "")
                        @Html.ValidationMessageFor(model => model.Situation)
                    </dd>
                </dl>
                <dl>
                    <dt>验证码</dt>
                    <dd>
                         @Html.TextBoxFor(m => m.SecurityCode, new {@class="textInputSmall" })
                       
                        @Html.ValidationMessageFor(model => model.SecurityCode)
                        <p>
                            <img alt="验证码图片" id="ImgValidateCode" title="看不清？点击换一个" src="@Url.Action("SecurityCode")"   onclick="this.src=this.src+'?'" />

                            <br />
                            <a href="#" onclick="document.getElementById('ImgValidateCode').src=document.getElementById('ImgValidateCode').src+'?'">看不清换一张</a>
                            <br />

                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>&nbsp;&nbsp;</dt>
                    <dd>
                        <input name="submitBtn" type="submit" value=" " class="btnSubmit" />
                    </dd>
                </dl>
            }
        </div>
    </div>
</body>
</html>

