<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link href=@Href("~/content/common.css") rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
    @*  @Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body class="headerBg">


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

    <div id="header">
        <ul>
            <li>
                <img src="@Href("~/images/bird-07.jpg")" width="138" height="39" /></li>
            <li><a href="@Url.Action("Common", "Home")">首页</a><a href="@Url.Action("Index", "Home")">个人主页</a><a href="@Url.Action("Index", "Friend")">好友</a><a href="#">消息</a></li>
        </ul>
        <form action="" method="post" name="myform">
            <ol>
                <li>找人</li>
                <li class="second">
                    <input name="searchText" type="text" class="texts" />
                    <input name="searchFriend" type="button" class="searchFriend" />
                </li>
                   <li id="menu" class="third">
                    <a href="#" onclick="$(this).next().toggle()">账号<img src=@Href("~/images/bird-08.jpg") width="17" height="12" /></a>
                    <ul style="float: left; display: block; position: absolute; border: solid 1px; background-color: #1564e7; display: none;">
                        <li><a href="@Url.Action("Logout","Account")">注销</a></li>
                    </ul>
                </li>
            </ol>
        </form>
    </div>
    <div id="content">
        <div class="publicLeft">
            @{ Friends.Models.User user = Session["CurrentUser"] as Friends.Models.User;}
            @if (user != null)
            {
                <dl class="headPortrait">
                    <dt>

                        <img src="@Href("~/images/headers/" + user.HeaderImage)" /></dt>
                    <dd><a href="#">@user.RealName</a></dd>
                </dl>
          
                <div class="pubLink">
                    <a href="#">
                        <img src="@Href("~/images/icon-06.jpg")" width="28" height="30" /></a><a href="#">
                            <img src="@Href("~/images/icon-07.jpg")" width="24" height="30" /></a>

                </div>
            }
            <div class="pubList">
                <dl>
                    <dt class="icon01"><a href="#">照片</a></dt>
                    <dd><a href="#">上传</a></dd>
                </dl>
                <dl>
                    <dt class="icon02"><a href="@Url.Action("Index", "Question")">问答</a></dt>
                    <dd><a href="#">发表</a></dd>
                </dl>
                <dl>
                    <dt class="icon03"><a href="#">随笔</a></dt>
                    <dd><a href="#">发表</a></dd>
                </dl>
                <dl>
                    <dt class="icon04"><a href="#">记录</a></dt>
                    <dd>&nbsp;</dd>
                </dl>
            </div>
            <dl class="pubTitle">
                <dt>群组</dt>
                <dd><a href="@Url.Action("Index", "Group")">&#8226;&#8226;&#8226;</a></dd>
            </dl>
            <ul class="pubType">
                <li><a href="#">青鸟生活</a></li>
                <li><a href="#">初入青鸟</a></li>
                <li><a href="#">学习HTML</a></li>
                <li><a href="#">更多...</a></li>
            </ul>
        </div>
        <div class="pubRight">
            @RenderBody()
        </div>
    </div>
    <div id="linkTopNone"><a href="#">关于我们</a><a href="#">手机中心</a> <a href="#">开放平台</a><a href="#"> 应用中心</a> <a href="#">自助广告</a> <a href="#">青鸟招聘</a> <a href="#">客服</a> <a href="#">帮助</a>青鸟朋友网</div>
    <div id="copy">北京阿博泰克北大青鸟信息技术有限公司</div>
    <div id="bottom">
        <ul>
            <li class="first">我的应用</li>
            <li class="second">&nbsp;</li>
            <li class="third">聊天（1/20）</li>
        </ul>
        <div id="scroll">
            <img src="@Href("~/images/bird-09.jpg")" width="35" height="35" />
        </div>
    </div>
</body>
</html>

